section {
    float: left;
    border: 1px solid blue;
    padding: 1rem;
    margin: 1rem;
}

div {
    float: left;
    border: 1px solid red;
    padding: .5rem;
    margin: .5rem;
}

.div3 {
    clear: left;
}

.div32 {
    float: right;
}

.div21 {
    float: right;
}

.div32 {
    clear: both;
}

main {
    max-width: 43rem;
    margin: auto;
}

body {
}